* {
    box-sizing: border-box;
}

body {
    background-color: #000000;
    background-image: url(imagem/background_nova.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    backdrop-filter: blur(0px);
    background-repeat: no-repeat;
}

p.aboutMeDesc {
    color: #ffffff;
    font-family: 'Afacad Flux', monospace;
    margin-top: -28px;
    font-size:28px
}

h2.bestGame {
    color: #ffffff;
    font-family: 'Afacad Flux', monospace;
    text-align: center;
    margin-bottom: 90px;
    margin-top: 50px;
}

h1.aboutMeTitle {
    color: #fff;
    font-size: 48px;
    margin-top: -8px;
    text-align: center;
}

div.mainPageLink {
    color: #ffffff;
    text-align: center;
}

.column {
    float: left;
    width: 50%;
    padding: 5px;
    text-align:center
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.descTitle {
    float: right;
    font-family: 'Afacad Flux', monospace;
    margin-top: 39px;
    font-size: clamp(24px, 8vw, 48px);
}

a.descTitle {
    color: #ffffff
}

.descParagraph {
    float: left;
    margin-top: -12px;
    margin-left: 16px;
    font-family: 'Afacad Flux', monospace;
    text-align:left;
    color: #fff;
    font-size: 24px;
}

@keyframes cycle-transgradient {
    0% {
        background-position: 0%, 50%
    }
    100% {
        background-position: 133.333%, 50%
    }
}
@keyframes cycle-enbygradient {
    0% {
        background-position: 0%, 50%
    }
    100% {
        background-position: 100%, 50%
    }
}
@keyframes cycle-demigirlgradient {
    0% {
        background-position: 0%, 50%
    }
    100% {
        background-position: 500%, 50%
    }
}

div.transCycle {
    background-size: 160%, 100%;
    width: 480px;
    margin: auto;
    margin-top: -10px; height: 4px;
    background-image: linear-gradient(
        to right,
        #5bcefa 0%, #5bcefa 12.5%,
        #ffc0cb 12.5%, #ffc0cb 25%,
        #ffffff 25%, #ffffff 37.5%,
        #ffc0cb 37.5%, #ffc0cb 50%,
        #5bcefa 50%, #5bcefa 62.5%,

        #ffc0cb 62.5%, #ffc0cb 75%,
        #ffffff 75%, #ffffff 87.5%,
        #ffc0cb 87.5%, #ffc0cb 100%);
    animation: cycle-transgradient 6s infinite linear
}

div.enbyCycle {
    background-size: 200%, 100%;
    width: 480px;
    margin: auto;
    margin-top: 4px; height: 4px;
    background-image: linear-gradient(
        to right,
        #fff433 0%, #fff433 12.5%,
        #ffffff 12.5%, #ffffff 25%,
        #9b59d0 25%, #9b59d0 37.5%,
        #000000 37.5%, #000000 50%,

        #fff433 50%, #fff433 62.5%,
        #ffffff 62.5%, #ffffff 75%,
        #9b59d0 75%, #9b59d0 87.5%,
        #000000 87.5%, #000000 100%
        );
    animation: cycle-enbygradient 6s infinite reverse linear
}

div.demigirlCycle {
    background-size: 83.333%, 100%;
    width: 480px;
    margin: auto;
    margin-top: 4px; height: 4px;
    background-image: linear-gradient(
        to right,
        #7f7f7f 0%, #7f7f7f 16.667%,
        #c4c4c4 16.667%, #c4c4c4 33.333%,
        #fdadc8 33.333%, #fdadc8 50%,
        #ffffff 50%, #ffffff 66.667%,

        #fdadc8 66.667%, #fdadc8 83.333%,
        #c4c4c4 83.333%, #c4c4c4 100%
        );
    animation: cycle-demigirlgradient 6s infinite reverse linear
}